<style>
    #top{
        background-image: url("resources/headerimg.png");
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
        text-align:center;
        width:100%;
        height:40%;
        margin: 0 auto;
        position:relative;
        transform: translateZ(20);
    }

    #title{
        height:40%;
        margin: 7% auto;
    }
</style>

<header>
    <div id="top">
        <img id = "title" src="resources/title.gif">
    </div>
</header>